<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>{{ GlowUp Beauty Co }}</title>
  {{ 'glowup.css' | asset_url | stylesheet_tag }}
  {{ content_for_header }}
  
</head>

<body>
  {{ content_for_layout }}
</body>
</html>